* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: transparent;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #94a3b8;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.download-btn {
  background-color: #fcfafa;
  color: #2517e9;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration:line;
  font-weight: bold;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 40px;
  flex-wrap: wrap;
}

.hero-image img {
  width: 300px;
  border-radius: 50%;
  border: 6px solid #38bdf8;
  box-shadow: 0 0 30px #07c4fd;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 42px;
  margin: 10px 0;
}

.hero-content h2 {
  font-size: 24px;
  color: #fd12de;
  margin-bottom: 20px;
}

.hero-content h2 span {
  color: #e314eb;
}

.hero-content p {
  color: #c3ddfd;
  margin-bottom: 20px;
}

.social-links a {
  margin-right: 15px;
}

.social-links img {
  width: 28px;
  height: 28px;
  filter: invert(100%);
}

.buttons {
  margin-top: 20px;
}

.primary-btn,
.secondary-btn {
  padding: 12px 25px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.primary-btn {
  background: #38bdf8;
  color: #0f172a;
}

.secondary-btn {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  background-color: #02122c;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
  margin: 15px;
}

.stat h3 {
  font-size: 32px;
  color: #38bdf8;
}

.stat p {
  font-size: 14px;
  color: #0d5dbe;
}
.footer{
 font-family: Georgia, 'Times New Roman', Times, serif; 
  color:aqua;
  font-size: medium;
}
